#/web_studio                                   #uncomment                               
#*.docx                                        #uncomment
#/resources                                    #uncomment
#frontend/job-portal/src/Scribble.jsx          #uncomment
#frontend/job-portal/src/Scribble2.jsx         #uncomment
