@layer presets {
	.HeroSectionRoot {
    display: grid;
    min-height: 100%;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve
  }

}

@media all {

	.w-built-by-sicelo-link {
    display: inline-flex;
    row-gap: 6px;
    column-gap: 6px;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    right: 1px;
    bottom: 1px;
    color: rgba(251, 252, 253, 1);
    font-family: emoji, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    text-decoration-line: none;
    border: 1px solid transparent;
    white-space: nowrap
  }
  .w-github-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-6)
  }
  .w-built-by-sicelo-text-wrapper {
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    color: black
  }
  .w-built-by-sicelo-text {
    font-size: 12px;
    letter-spacing: 0.5px
  }
  .w-hero-section-container-1 {
    margin-top: var(--size-8);
    background-color: whitesmoke;
    box-shadow: var(--shadow-2)
  }
  .w-text-hero-section-wrapper-2 {
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: var(--size-3);
    display: flex;
    flex-direction: column;
    column-gap: var(--gap-xs);
    row-gap: var(--gap-xs);
    border-top-left-radius: var(--radius-3);
    border-top-right-radius: var(--radius-3);
    border-bottom-left-radius: var(--radius-3);
    border-bottom-right-radius: var(--radius-3);
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    margin-left: 0px;
    border: var(--border-size-1) solid transparent
  }
  .w-heading-wrapper-9 {
    display: flex;
    flex-direction: column
  }
  .w-heading-text-wraper-10 {
    display: flex
  }
  .w-heading-text-11 {
    margin-top: var(--size-1);
    margin-bottom: var(--size-1);
    color: Highlight;
    font-family: Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L", "Georgia Pro", Georgia, serif;
    font-weight: 400;
    max-width: var(--size-content-3);
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.5px
  }
  .w-heading-text-12 {
    margin-top: var(--size-1);
    margin-bottom: var(--size-1);
    color: cornflowerblue;
    font-family: Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L", "Georgia Pro", Georgia, serif;
    font-weight: 800;
    max-width: var(--size-content-3);
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.5px
  }
  .w-heading-text-13 {
    margin-top: var(--size-1);
    margin-bottom: var(--size-1);
    color: Highlight;
    font-family: Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L", "Georgia Pro", Georgia, serif;
    font-weight: 400;
    max-width: var(--size-content-3);
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.5px
  }
  .w-heading-text-14 {
    margin-top: var(--size-1);
    margin-bottom: var(--size-1);
    color: cadetblue;
    font-family: Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L", "Georgia Pro", Georgia, serif;
    font-weight: 800;
    max-width: var(--size-content-3);
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.5px
  }
  .w-description-text-15 {
    margin-top: 0em;
    margin-bottom: var(--size-3);
    max-width: var(--size-content-3);
    font-family: emoji, sans-serif;
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5px
  }
  .w-thematic-break-3 {
    color: gray;
    border-top-left-radius: var(--radius-3);
    border-top-right-radius: var(--radius-3);
    border-bottom-left-radius: var(--radius-3);
    border-bottom-right-radius: var(--radius-3);
    box-shadow: var(--shadow-4);
    width: var(--size-content-3);
    border: var(--border-size-1) solid var(--blue-1)
  }
  .w-button-group-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--gap-xs);
    row-gap: var(--gap-xs);
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: whitesmoke;
    padding: var(--size-3)
  }
  .w-find-jobs-16 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--gap-xs);
    row-gap: var(--gap-xs);
    border-top-left-radius: var(--radius-3);
    border-top-right-radius: var(--radius-3);
    border-bottom-left-radius: var(--radius-3);
    border-bottom-right-radius: var(--radius-3);
    background-color: lightskyblue;
    box-shadow: var(--shadow-4);
    transition-property: all;
    transition-duration: var(--duration-default);
    transition-timing-function: var(--easing-default);
    transition-delay: var(--duration-default);
    transition-behavior: normal;
    text-decoration-line: none;
    border: var(--border-size-2) solid white;
    padding: var(--size-2)
  }
  .w-find-jobs-16:hover {
    background-image: var(--gradient-22);
    background-size: auto auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    text-decoration-line: underline;
    color: var(--red-6);
    background-position: 0% 0%
  }
  .w-find-jobs-text-19 {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 16px;
    color: black;
    line-height: 1.4;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: emoji, sans-serif
  }
  .w-find-jobs-text-19:hover {
    color: red
  }
  .w-post-jobs-17 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--gap-xs);
    row-gap: var(--gap-xs);
    border-top-left-radius: var(--radius-3);
    border-top-right-radius: var(--radius-3);
    border-bottom-left-radius: var(--radius-3);
    border-bottom-right-radius: var(--radius-3);
    background-color: lightskyblue;
    box-shadow: var(--shadow-4);
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: var(--easing-default);
    transition-delay: var(--duration-default);
    transition-behavior: normal;
    text-decoration-line: none;
    border: var(--border-size-2) solid white;
    padding: var(--size-2)
  }
  .w-post-jobs-17:hover {
    background-image: var(--gradient-22);
    background-size: auto auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    text-decoration-line: underline;
    color: var(--red-3);
    background-position: 0% 0%
  }
  .w-post-jobs-text-21 {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 16px;
    color: black;
    line-height: 1.4;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: emoji, sans-serif
  }
  .w-post-jobs-text-21:hover {
    color: red
  }
  .w-thematic-break-5 {
    color: gray;
    border-top-left-radius: var(--radius-3);
    border-top-right-radius: var(--radius-3);
    border-bottom-left-radius: var(--radius-3);
    border-bottom-right-radius: var(--radius-3);
    width: var(--size-content-3);
    border: var(--border-size-1) solid var(--blue-2)
  }
  .w-metrics-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--gap-l);
    row-gap: var(--gap-l);
    flex-wrap: wrap;
    margin-top: var(--font-size-fluid-1);
    margin-right: 0px;
    margin-left: 0px;
    background-color: whitesmoke;
    border: var(--border-size-2) none white;
    padding: var(--size-3)
  }
  .w-active-users-22 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  .w-active-users-icon-25 {
    border-top-left-radius: var(--radius-3);
    border-top-right-radius: var(--radius-3);
    border-bottom-left-radius: var(--radius-3);
    border-bottom-right-radius: var(--radius-3);
    border: var(--border-size-2) solid white
  }
  .w-active-users-number-26 {
    margin-top: var(--size-1);
    margin-bottom: 0em;
    color: black;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.5px;
    max-width: var(--size-content-3);
    text-align: center
  }
  .w-active-users-text-27 {
    margin-top: var(--size-1);
    margin-bottom: 0em;
    color: slategrey;
    font-family: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052, Sylfaen, serif
  }
  .w-companies-23 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  .w-companies-icon-28 {
    border-top-left-radius: var(--radius-3);
    border-top-right-radius: var(--radius-3);
    border-bottom-left-radius: var(--radius-3);
    border-bottom-right-radius: var(--radius-3);
    border: var(--border-size-2) solid white
  }
  .w-companies-heading-29 {
    margin-top: var(--size-1);
    margin-bottom: 0em;
    color: black;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.5px;
    max-width: var(--size-content-3);
    text-align: center
  }
  .w-companies-paragraph-30 {
    margin-top: var(--size-1);
    margin-bottom: 0em;
    color: slategrey;
    font-family: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052, Sylfaen, serif
  }
  .w-active-users-24 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  .w-active-users-icon-31 {
    border-top-left-radius: var(--radius-3);
    border-top-right-radius: var(--radius-3);
    border-bottom-left-radius: var(--radius-3);
    border-bottom-right-radius: var(--radius-3);
    border: var(--border-size-2) solid white
  }
  .w-active-users-heading-32 {
    margin-top: var(--size-1);
    margin-bottom: 0em;
    color: black;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.5px;
    max-width: var(--size-content-3);
    text-align: center
  }
  .w-active-users-paragraph-33 {
    margin-top: var(--size-1);
    margin-bottom: 0em;
    color: slategrey;
    font-family: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052, Sylfaen, serif
  }
  .w-thematic-break-7 {
    color: gray;
    border-top-left-radius: var(--radius-3);
    border-top-right-radius: var(--radius-3);
    border-bottom-left-radius: var(--radius-3);
    border-bottom-right-radius: var(--radius-3);
    width: var(--size-content-3);
    border: var(--border-size-1) solid lightblue
  }
  .w-text-wrapper-8 {
    margin-right: 0px;
    margin-top: var(--font-size-fluid-2);
    margin-bottom: var(--size-3);
    display: flex;
    flex-direction: column;
    column-gap: var(--gap-xs);
    row-gap: var(--gap-xs);
    border-top-left-radius: var(--radius-3);
    border-top-right-radius: var(--radius-3);
    border-bottom-left-radius: var(--radius-3);
    border-bottom-right-radius: var(--radius-3);
    align-items: center;
    justify-content: start;
    background-color: whitesmoke;
    margin-left: 0px;
    border: var(--border-size-1) solid transparent
  }
  .w-paragraph-35 {
    margin-top: var(--size-1);
    margin-bottom: var(--size-1);
    color: black;
    font-family: Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L", "Georgia Pro", Georgia, serif;
    font-weight: 800;
    max-width: var(--size-content-3);
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.5px
  }
  .w-paragraph-36 {
    margin-top: var(--size-1);
    margin-bottom: var(--size-1);
    color: Highlight;
    font-family: Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L", "Georgia Pro", Georgia, serif;
    font-weight: 800;
    max-width: var(--size-content-3);
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.5px
  }
  .w-paragraph-38 {
    margin-top: 0em;
    margin-bottom: var(--size-3);
    font-family: emoji, sans-serif;
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5px;
    display: flex;
    max-width: none;
    white-space: normal;
    text-wrap: pretty
  }
}
@media all and (max-width: 991px) {
  .w-hero-section-container-1 {
    margin-top: var(--size-fluid-7)
  }
  .w-heading-text-11 {
    font-size: 20px
  }
  .w-heading-text-12 {
    font-size: 20px
  }
  .w-heading-text-13 {
    font-size: 20px
  }
  .w-heading-text-14 {
    font-size: 20px
  }
  .w-description-text-15 {
    font-size: 14px
  }
  .w-paragraph-35 {
    font-size: 20px
  }
  .w-paragraph-36 {
    font-size: 20px
  }
  .w-paragraph-38 {
    font-size: 14px
  }
}
@media all and (max-width: 767px) {
  .w-hero-section-container-1 {
    margin-top: var(--size-fluid-8)
  }
  .w-text-hero-section-wrapper-2 {
    margin-top: var(--size-relative-14)
  }
  .w-heading-text-11 {
    font-size: 16px
  }
  .w-heading-text-12 {
    font-size: 16px
  }
  .w-heading-text-13 {
    font-size: 16px
  }
  .w-heading-text-14 {
    font-size: 16px
  }
  .w-description-text-15 {
    font-size: 12px
  }
  .w-text-wrapper-8 {
    margin-top: var(--size-relative-14)
  }
  .w-paragraph-35 {
    font-size: 16px
  }
  .w-paragraph-36 {
    font-size: 16px
  }
  .w-paragraph-38 {
    font-size: 12px
  }
}
@media all and (max-width: 479px) {
  .w-hero-section-container-1 {
    margin-top: var(--size-fluid-6);
    margin-left: 0rem;
    margin-right: var(--size-7)
  }
  .w-text-hero-section-wrapper-2 {
    margin-top: 0px;
    margin-left: var(--size-7)
  }
  .w-description-text-15 {
    font-size: 10px;
    max-width: var(--size-content-2)
  }
  .w-text-wrapper-8 {
    margin-top: 0px;
    margin-left: var(--size-7)
  }
  .w-paragraph-38 {
    font-size: 10px;
    max-width: var(--size-content-2)
  }
  
 }
